@import '../../fonts';
@import '../../allColor';

.profile-drag-drop
    display: flex;
    justify-content: space-around;
    width: 100%;

    &-title
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 10px 0;
        background: $darkcyan;
        cursor: pointer;
        transition: all .6s;

        &:hover h3
            color: $gold;
    
        h3
            text-align: center;
            color: $white;
            font-family: $font_Baskerville;
            font-size: 20px;
            margin: 0px;
            transition: all .6s;


.card 
    
    
    &-title 
        font-size: 18px
        color: $dark-gray;
        font-family: $font_Oswald;
        font-weight: 600;
        padding-bottom: 10px;
        cursor: pointer;
        transition: all .3s;

        &:hover
            color: $text-dark;
        
    &-tags
        display: flex;
        flex-wrap: wrap;
        width: 80%;

    &-tag 
        background: $light-blue;
        padding: 5px 10px;
        width: max-content;
        border-radius: 10px;
        margin: 2px;
        color: $white;
        font-family: $font_Oswald;
        font-size: 14px;
        cursor: pointer;
        transition: all .3s;
        
        &:hover
            background: $yellow;
        
    

